@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  letter-spacing: 0.15rem;
  transition: 0.2s;
  transition-delay: 0s;
  list-style: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

*::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  gap: 1rem;
  padding: 0;
}

.react-icons {
  vertical-align: middle;
}

svg {
  transition: 0.2ms;
}
